<%- include("./partials/navbar") %>
<div class="container-custom">

    <h1>Get in Touch With Us...</h1>

    <form action="/contact" method="POST" autocomplete="off">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Subject</label>
            <input type="text" name="subject" class="form-control" required id="exampleInputPassword1" placeholder="Enter Subject">
          </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" placeholder="Enter Message" name="message" required id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-raised btn-warning">Submit <i class="ml-2 fa fa-paper-plane" aria-hidden="true"></i>
          </button>
    </form>
</div>