<link rel="stylesheet" href="/css/adminPanelcss.css">
<%- include("./partials/adminNavbar") %>


<div class="adminPanel">
    <form action="/admin/edit/account/<%= id %>" method="POST" autocomplete="off">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input required value="<%= username %> " type="text" name="username" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" name="password" class="form-control" id="currentPassword"
                placeholder="Current Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1"
                placeholder="New Password">
        </div>
        <div class="switch">
            <label>
              <input type="checkbox" onclick="showPassword()" id="exampleCheck1">
             Show Password
            </label>
          </div>
        <button type="submit" class="btn btn-primary btn-raised mt-3">Save</button>
        <a href="/admin/accounts" class="btn btn-danger btn-raised mt-3">Cancel</a>
    </form>
</div>


<script>
    const passwordInput = document.getElementById("exampleInputPassword1");
    const currentPasswordInput = document.getElementById("currentPassword");
    const showPasswordCheckBox = document.getElementById("exampleCheck1");

    const showPassword = () => {

        passwordInput.type === "password" ? passwordInput.type = "text" : passwordInput.type = "password";
        currentPasswordInput.type === "password" ? currentPasswordInput.type = "text" : currentPasswordInput.type = "password";
    };


</script>